@{
    ViewBag.Title = "Interactive Poll";
}
<section class="content">
<p>
     @Html.Partial("Partial/_Survey")
</p>
</section>

@section Scripts {
    <script src="@Url.Content("~/Scripts/survey.js")" type="text/javascript"></script>
}