@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<header>
<h2>CoffeeBox</h2>
</header>

<p>
   @Html.Partial("../Partial/_Chat")
</p>
</section>

@section Scripts {
    <script src="@Url.Content("~/Scripts/survey.js")" type="text/javascript"></script>
}