@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<p>
     @Html.Partial("../Partial/_Survey")
</p>
</section>

@section Scripts {
    <script src="@Url.Content("~/Scripts/survey.js")" type="text/javascript"></script>
}